<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Game_Launcher_V2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>

  <runtime>
    <AppContextSwitchOverrides value="Switch.System.Windows.DoNotScaleForDpiChanges=false"  />
  </runtime>
  
    <userSettings>
        <Game_Launcher_V2.Properties.Settings>
            <setting name="PowerLimit" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="TempLimit" serializeAs="String">
                <value>95</value>
            </setting>
            <setting name="iGFXClk" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="COCPU" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="isBoost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isTemp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isPower" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isiGFX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isFirstBoot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Path" serializeAs="String">
                <value />
            </setting>
            <setting name="bootOnStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="startMinimised" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="openGameList" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CPUName" serializeAs="String">
                <value />
            </setting>
            <setting name="isPerfOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isFPSLimit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fpsLimit" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="RyzenAdj" serializeAs="String">
                <value />
            </setting>
            <setting name="CpuClk" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="isCPUClk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isMouse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isEPP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EPP" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="isMuted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fanCurve" serializeAs="String">
                <value>0</value>
            </setting>
        </Game_Launcher_V2.Properties.Settings>
    </userSettings>
</configuration>